#owlca_ad{
  .item{
    margin: 0px;
    position: relative;
    
    .btn-movie,
    .btn-book{
      position: absolute;
      left: 20px;
      bottom: 3px;
      z-index: 2000;
      display: inline-block;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  a{
    display: block;
  }
  .owl-controls{
    margin-top: 0px;
    position: relative;
    height: 30px;
    text-align: center;
    /*background-color: rgba(44, 44, 44, 0.4);*/
   .owl-pagination{
      /*position: absolute;*/
      display: inline-block;
      width: 50%;
      right: 10px;
      top: 0px;
      text-align: center;
    }
    .owl-page {
      span{
        width: 8px;
        height: 8px;
        margin: 10px 8px;
        opacity: 1;
        background-color: #9b9c9e;
      }
      &.active span{
        opacity: 1;
        background-color: #ff4f36;
      }
    }
  }
}

#owlca_books{
  .item{
    text-align: center;
    
    img{
      width: 80px;
      display: inline-block;
    }
    span{
      display: inline-block;
      font-size: 12px;
      padding: 0 1em;
    }
    b{
      display: inline-block;
      overflow: hidden;
      height: 3em;
      margin-top: 1em;
      margin-bottom: -0.5em;
    }
  }
  .owl-controls{
    margin-top: 5px;
    
    .owl-page{
      span{
        width: 8px;
        height: 8px;
        margin: 10px 8px;
        opacity: 1;
        border: 1px solid #a1a1a1;
        background-color: #c5c5c5;
      }
      &.active span{
        opacity: 1;
        border: 1px solid #b71f2b;
        background-color: #ec4758;
      }
    }
  }
}

a.btn-small-black{
  &:link,
  &:visited{
    background-color: #051829;
    color: #ffd908;
    border-radius: 3px;
    font-weight: bold;
  }
  .glyphicon{
    color: #fff;
  }
}

.wrap-owlca-navigation-enabled{
  padding: 0px 20px 0 20px;
  position: relative;
  margin-top: 12px;
}



.owlca-nav-btn{
  font-size: 40px;
  position: absolute;
  top: 9%;
  color: #dfdfdf;
  &.next{
    right: -15px;
  }
  &.prev{
    left: -15px;
  }
}


.container.more-with{
  position: relative; 
  padding-top: 0;
}
.heading-info.tight{
  margin-top: 10px;
  margin-bottom: 7px;
}

.more-with{
  &.underline{
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 5px;
  }
  &.overline{
    border-top: 1px solid #bdbdbd;
  }
  
  .view-more{
    position: absolute;
    right: 15px;
    top: 20px;
    
    &:link,
    &:visited{
      color: #7b7d89;
    }
  }
}


.heading-info.tight+.view-more{
  top: 11px;
}


.sdedu-event-member{
  display: block;
  text-align: center;
  background-color: #b6211d;
  overflow: hidden;
}
.sdedu-event-zone{
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.wrap-main-exam-list{
  .list-group{
    .list-group-item{
      border-radius: 0;
      margin-bottom: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      border: none;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 10px 15px 10px 15px;
      
      &:before{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #f35e04;
        color: #fff;
        text-align: center;
        margin-right: 0.5em;
        font-weight: bold;
      }
      &:nth-child(1):before{ content: "1"; }
      &:nth-child(2):before{ content: "2"; }
      &:nth-child(3):before{ content: "3"; }
      
      em{
        font-style: normal;
        color: #da2f01;
      }
    }
  }
}

.main-notice-item{
  padding: 10px 25px 10px 0px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.foreword{
  width: 60px;
  height: 21px;
  border: 1px solid #000;
  background-color: #ccc;
  border-radius: 3px;
  margin-right: 0.5em;
  display: inline-block;
  text-align: center;
  color: #fff;
  
  &.notice{
    border: 1px solid #669acc;
    background-color: #75a4d2;
  }
  &.news{
    border: 1px solid #d96359;
    background-color: #de736b;
  }
}

.display-table{
  display: table;
  .display-row{
    display: table-row;
    >*{
      display: table-cell;
      vertical-align: top;
    }
  }
}
.wrap-headline-roller{
  padding: 3px;
}
.headline-roller{
  border: 1px solid #cfd3df;
  width: 100%;
  .heading{
    width: 65px;
    text-align: center;
    line-height: 26px;
    color: #e23821;
  }
  .headline{
    &>div{
      
    }
    .roller{
      height: 26px;
      margin: 0px;
      overflow: hidden;
      li{
        height: 26px;
        width: 100%;
        line-height: 26px;
        text-align: center;
        font-weight: bold;
      }
      li .nth{
        margin-right: 0.4em;
        color: #e23821;
      }
      a{
        width: 100%;
        text-align: center;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      //@for $i from 1 through 10{
      //  li:nth-child(#{$i}):before{
      //    content: "#{$i}";
      //  }
      //}
      
    }
  }
  .btn-collapse{
    width: 65px;
    line-height: 26px;
    text-align: right;
    
    i{
      margin-right: 1em;
    }
  } 
}

.wrap-headline-tab{
  position: relative;
  .tab-pane{
    padding: 15px;
  }
  
  .btn-collapse-close{
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
}
.top-content-list{
  list-style: none;
  li{
    padding: 5px 0;
    //margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  @for $i from 1 through 10{
    li:nth-child(#{$i}):before{
      content: "#{$i}. ";
    }
  }
}
